<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentinel7 - Testes de Segurança do Cloudinho</title>
    <link rel="stylesheet" href="~/site.css" />
</head>
<body>
    <main style="margin: 2rem;">
        @RenderBody()
    </main>
    <footer>
        © 2025 Sentinel7
    </footer>
</body>
</html>